label {
    font-family:Arial, Helvetica, sans-serif;
    font-size:x-large;
    font-weight: bolder;
    color: #fefefe;
    margin: 10px 0px;
}


.father{
  /* background-color: #252424; */
  overflow: hidden;
  overflow-y:scroll;
  
  /* background-image: radial-gradient(#c31432 30%,#240b36 ); */

  
}
button:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(50, 48, 48) !important;
    font-size: x-large;
}
.container-custom{
  padding:100px 100px;
  /* border-radius: 10px solid black; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid yellow;
  
}
input.form-control:focus {
  /* background-color: black !important; */
  color:white;
  
}
input:focus,
textarea.form-control:focus {
  color: white;
  background-color: black !important;
  
}
h2{

  font-family:Arial, Helvetica, sans-serif;
    font-size:xx-large;
    font-weight: bolder;
    color: #fefefe;
    margin: 20px 0px;
}
.form-control{
  border: 2px solid rgb(105, 102, 102) !important;
}


