<div class="d-flex align-items-center" style="height: 100vh;">
<div class="container w-75 " style="background-color: rgb(160, 164, 167);" >
    <form class="">
      <div class="row box8">
        <div class="col-sm-12  mb-5 d-flex justify-content-center">
          <h2 class="text-center w-75 p-3 text-white bg-dark">UPLOAD</h2>
        </div>
        <div class="col-sm-12 form-group">
          <label for="name-f" class=""><h3>Title</h3></label>
          <input type="text" class="form-control p-3" name="fname" id="name-f" placeholder="Enter your first name." required>
        </div>
        <div class="col-sm-12 form-group">
          <label for="name-l"><h3>Description</h3></label><br>
          <!-- <input type="text" class="form-control p-3" name="lname" id="name-l" placeholder="Enter your last name." required> -->
          <textarea id="w3review" class="form-control" rows="8" cols="50"></textarea>
        </div>

        <div class="col-sm-12 form-group mb-3">
            <label for="name-l"><h3>Image</h3></label>
            <input type="file" class="form-control p-3" name="lname" id="name-l" placeholder="Enter your last name." required>
          </div>
        
       
        
        
  
        <div class="col-sm-12 form-group mt-3 mb-0 d-flex ">
          <button class="btn p-3 m-auto bg-danger">Submit</button>
        </div>
  
      </div>
    </form>
  </div>
</div>
